body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.inputs {
    margin-bottom: 20px;
}

.inputs input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#operation {
    text-align: center;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.keyboard button {
    padding: 15px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.keyboard button:hover {
    background-color: #d0d0d0;
}

.keyboard button.operator {
    background-color: #f9a825;
}

.keyboard button.operator:hover {
    background-color: #f57f17;
}

.calculate-btn:hover {
    background-color: #45a049;
}

.calculate-btn:active {
    background-color: #39843c;
}
.cache-btn {
    padding: 15px;
    font-size: 32px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cache-btn:hover {
    background-color: #d0d0d0;
}